$fontColorPrimary: #ffffff;
$fontColorSecondary: rgb(103,103,103);
$ColorHighlight: rgb(159,68,155);
$containerWidthLarge: 80%;


//fonts

$headerFont: existencelight, sans-serif;
$standardFont: latoregular, sans-serif;
